@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    background: linear-gradient(391deg, blue, rgb(156, 44, 179), purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

.container {
    border: none;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2%;
    background-color: rgba(241, 241, 207, 0.4);
    border-radius: 5%;
}

.navigation{
    box-sizing: border-box;
    padding: 0;
    margin: 1%;
}

.navigation > ul{
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    font-family: "Lexend", sans-serif;
    font-size: 120%;
    margin: 1%;
    display: inline;
}

a{
    text-decoration: none;
    color: azure;
}

a:hover{
    color: #061b46;
    text-shadow: 0 0 7px #fff,
                0 0 42px rgb(11, 14, 225),
                0 0 82px rgb(0, 18, 107),
                0 0 92px #0fa,
                0 0 102px #0fa;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    cursor: zoom-in;
}

.sideL{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 1em;
    border: none;
    width: 50%;
    margin: 2%;
    padding: 2%;
}

.sideR{
    width: 50%;
}

button{
    color: aliceblue;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 2%;
    border: none;
    background-color: rgb(131, 70, 243);
    border-radius: 8%;
}

button:hover{
    background-color:  rgb(70, 9, 182);
    cursor:pointer;
}


