@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Voltaire&display=swap');

/* homepage */
.container{
    display: flex;
}

.container2{
    margin-left: 8%;
    text-align: center;
    display: flex;
}

body {
    padding: 1%;
    background-image: url("../images/bgNew2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    animation: changes 20s infinite ease-in-out;
}

@keyframes changes {
    0% {
        background-image: url("../images/bgNew2.jpg");
    }

    20% {
        background-image: url("../images/bgNew3.jpg");
    }

    40% {
        background-image: url("../images/bgNew4.jpg");
    }

    60% {
        background-image: url("../images/bgNew5.jpg");
    }

    80% {
        background-image: url("../images/bgNew6.jpg");
    }

    100% {
        background-image: url("../images/bgNew2.jpg"); 
    }
}
/* navigation bar */
.nav, .nav2{
    box-sizing: border-box;
    justify-content: end;
    max-width: 120%;
}

.nav > ul{
    list-style: none;
    padding-left: 0;
}

.nav2 > ul{
    list-style: none;
    padding-left: 0;
}

.nav li{
    font-family: "Josefin Sans", sans-serif;
    font-size: 150%;
    display: inline;
    margin-right: 5%;
}

.nav2 li{
    font-family: "Josefin Sans", sans-serif;
    font-size: 150%;
    display: inline;
    margin-right: 5%;
}

.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* div1 */
.div1{
    text-align: end;
    margin-top: 9%;
    max-width: 70%;
    margin-left: 0;
}

.div1 h4, p{
    text-align: end;
    font-family: "Voltaire", sans-serif;
    font-weight: 500;
    font-size: 180%;
    margin-right: 1%;
}

.div1 h4{
    padding: 0.6%;
    text-align: start;
    position: relative;
    background-color: antiquewhite;
    max-width: 59%;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite; 
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

.div1 p{
    color: white;
    margin-top: 0;
}

.span{
    color: rgb(232, 13, 86);
}

.div1 h1{
    color: rgb(55, 39, 0);
    font-family: "Lexend Deca", sans-serif;
    text-shadow: 0 0 5px #a2beff,
                 0 0 10px #100112;
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
}

.div2{
    text-align: center;
    margin-top: 10%;
    max-width: 20%;
    margin-left: 3%;
    justify-content: end;
}

.div2 img{
    width: 145%;
    height: 145%;
    /* border-radius: 50%; */
}

/* footer */
.foot{
    margin-left: 1.5%;
    margin-top: 1%;
}

.foot ul{
    list-style: none;
    padding-left: 0;
}

.foot li{
    display: inline;
    margin-right: 1%;
    margin-left: 2%;
}

.foot img{
    width: 4%;
    height: 4%;
}

/* learnings */
.gets h1, .getsno h1{
    font-weight: 500;
    font-family: "Lexend Deca", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 250%;
}

.getsno h1{
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
}

.getsno li, .gets li{
    font-family: "Lexend Deca", sans-serif;
    list-style:circle;
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: 150%;
}

.getsno ol, .gets ol{
    display: inline-block;
    text-align: left;
}

.gets img, .getsno img{
    text-align: center;
    height: 30%;
    width: 30%;
}

.gets, .getsno{
    padding: 2%;
    text-align: center;
    align-items: center;
    max-width: 40%;
    margin: 3%;
    background-color: rgba(250, 235, 215, 0.564);
    border-radius: 10%;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #1d0066;
}

img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

a:hover {
    color: #ffe606;
    text-shadow: 0 0 5px #ffefbb;
}